.card {
  width: 100%;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color: grey;
}

#lastDiv, #colorpannel {
  visibility: hidden;
}

#float:hover #lastDiv, #colorpannel {
  visibility: visible;
}

#pinIcon {
  visibility: hidden;
}

#float:hover #pinIcon {
  visibility: visible;
}

#float:hover {
  box-shadow: 2px 2px 2px 2px #cbcfd6;
}

.flex-30, .layout-row>.flex-30 {
  max-width: 291px;
}

#sideNav a {
  color: black;
}

#icon {
  display: block;
}

.colorIcon {
  border: none;
  display: inline-block;
  vertical-align: middle;
}

.update {
  outline: none;
}

.tool {
  z-index: 1000;
}
/* added by dilip and removed by suyash */
/* .color-palette {
  position: fixed!important;
} */
