/* #inputContainer{
	border : 1px solid blue;
	box-shadow: 0 0 10px black;
	background-color : white;
	
	bottom : 0;
	position : relative;
	max-width: 450px; 
	max-height: 700px;
	margin-top: 50px;
	padding-bottom: 10px;
	border-radius: 10px;
	padding-bottom: 20px;	
} */