<md-card-actions>
  <md-panel>
    <p ng-show="displayDiv" class="icon">
      <color-picker class="colorIcon" value="cardColor" color="color" options="colors" on-color-changed="noteColor(newColor, oldColor)"></color-picker>

      <md-button style="min-width:25px;padding:5px" aria-label="Add Image" ng-click="openImageUploader('input')">

        <input ng-show="false" id="image" type='file' ng-model-instant ng-model="file" onchange="angular.element(this).scope().imageUpload(this)" />

        <md-tooltip md-direction="bottom">Add Image</md-tooltip>
        <md-icon md-svg-src="images/uploadImg.svg" ng-click="" style="width:21px;"></md-icon>
      </md-button>

      <md-button style="min-width:25px;padding:5px" ng-click="addArchiveNote(true)" aria-label="Archive">
        <md-tooltip md-direction="bottom">Archive</md-tooltip>
        <md-icon md-svg-src="images/archive.svg" aria-lable="archive note"></md-icon>
      </md-button>
      <md-button ng-click="addNote(pinStatus)" style="width:30px;float:right">Done</md-button>
    </p>
  </md-panel>
</md-card-actions>
