<div layout="column">
  <div>
    <tool-bar></tool-bar>

    <div flex layout="row">
      <md-sidenav flex="15" md-is-locked-open="true" class="md-whiteframe-z1">
        <md-content>
          <side-bar></side-bar>
        </md-content>
      </md-sidenav>

      <div layout="row" style="margin-left:100px"></div>
      <div>
        <md-content layout-align="center center" flex="66" layout-gt-xs style="overflow: visible;">
          <div flex="33">
            <md-card style="background-color: {{color}}">

              <md-card-title>
                <md-card-title-text>
                  <div aria-label="unpin note">
                    <span style="cursor: pointer" ng-click="pinUnpin()">
           				<img ng-if="!pinStatus" ng-src="images/unpin.svg"  ng-show="displayDiv" style="width:21px;float:right" />
           				<img ng-if="pinStatus" ng-src="images/pin.svg"  style="width:21px;float:right" />
           			</span>
                  </div>
                  <div>
                    <div contenteditable="true" ng-bind-html="note.title" ng-show="displayDiv" id="title" placeholder="Title" style="width:500px;border:0px;outline:0px"></div>
                  </div>
                  <br>
                  <div>
                    <div contenteditable="true" ng-bind-html="note.body" ng-show="true" id="body" placeholder="Take a note..." ng-click="show()" style="width:500px;border:0px;outline:0px"></div>
                  </div>

                </md-card-title-text>
              </md-card-title>

              <md-card-actions>
                <md-panel>
                  <p ng-show="displayDiv" class="icon">
                    <!--  <md-button style="min-width:25px";> -->
                    <md-menu>
                      <md-button style="min-width:25px;padding:5px" ng-click="$mdMenu.open($event)" aria-label="Remender">
                        <md-tooltip md-direction="bottom">Remender</md-tooltip>
                        <img src="images/remender.svg">
                      </md-button>
                      <md-menu-content>
                        <button class="md-raised md-primary md-button md-ink-ripple" type="button"="" ng-click="displayDialog(note)">Display Picker</button>
                      </md-menu-content>
                    </md-menu>

                    <md-button style="min-width:25px;padding:5px" aria-label="Share">
                      <md-tooltip md-direction="bottom">Share</md-tooltip>
                      <md-icon md-svg-src="images/share.svg" ng-click="" style="width:21px"></md-icon>
                    </md-button>

                    <!-- <md-button style="min-width:25px;padding:5px" aria-label="Change Color">
	        			<md-tooltip md-direction="bottom">Change Color</md-tooltip> -->
                    <color-picker class="colorIcon" value="cardColor" color="color" options="colors" on-color-changed="noteColor(newColor, oldColor)"></color-picker>


                    <!-- <md-icon md-svg-src="images/color.svg" ng-click="" style="width:21px"></md-icon>
	        			</md-button> -->

                    <md-button style="min-width:25px;padding:5px" aria-label="Add Image" ng-click="openImageUploader(note)">

                      <input ng-show="false" id="image" type='file' ng-model-instant ng-model="file" onchange="angular.element(this).scope().imageUpload(this)" />

                      <md-tooltip md-direction="bottom">Add Image</md-tooltip>
                      <md-icon md-svg-src="images/uploadImg.svg" ng-click="" style="width:21px;"></md-icon>
                    </md-button>

                    <md-button style="min-width:25px;padding:5px" ng-click="archive(note,true)" aria-label="Archive">
                      <md-tooltip md-direction="bottom">Archive</md-tooltip>
                      <md-icon md-svg-src="images/archive.svg" aria-lable="archive note"></md-icon>
                    </md-button>
                    <!--  <img ng-src="images/menu.svg" style="width:21px"> -->
                    <md-menu>
                      <md-button style="min-width:25px;padding:5px" ng-click="$mdMenu.open($event)" aria-label="More">
                        <md-tooltip md-direction="bottom">More</md-tooltip>
                        <img ng-src="images/menu.svg" style="width:21px">
                      </md-button>
                      <md-menu-content>

                        <md-menu-item>
                          <md-button ng-click="addLabelWindow()">Add Label</md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>

                    <md-button ng-click="addNote(pinStatus)" style="width:30px;float:right">Done</md-button>
                  </p>
                </md-panel>
              </md-card-actions>
            </md-card>
          </div>
        </md-content>
        <br>

        <div>
          <h4>Pinned</h4>

          <div layout="row" layout-wrap flex>
            <!--=========================Pinned=============================================  -->
            <div ng-repeat="note in notes" ng-if="note.pinned" id="note-scope" flex="30">
              <md-card layout="column" class="card" id="float" id="float" ng-style="{'background-color' : note.color}" flex="66">
                <!-- <md-card layout="column" class="card" id="float" ng-style="{'background-color' : note.color}"> -->
                <div aria-label="unpin note">
                  <md-button style="min-width:15px;float:right">
                    <md-tooltip md-direction="bottom">Unpin note</md-tooltip>
                    <img ng-src="images/pin.svg" style="width:21px;float:right" ng-click="pinned(note,false)" />
                  </md-button>

                </div>
                <div ng-if="note.image"><img ng-src={{note.image}} style="width: 95%;padding-left: 5px;"></div>
                <md-card-title>
                  <md-card-title-text class="update">

                    <div>
                      <div ng-click="updateEditedNote(note,$event)" ng-bind-html="note.title" ng-show="true" id="title" style="word-break: break-all;border:0px;outline:0px">{{note.title}}</div>
                    </div>
                    <br>
                    <div>
                      <div ng-bind-html="note.body" ng-show="true" id="body" style="word-break: break-all;border:0px;outline:0px">{{note.body}}</div>
                    </div>

                  </md-card-title-text>
                </md-card-title>

                <p class="lastDive" ng-if="note.reminder" style="font-size:10px;padding:8px">Reminder : {{note.reminder | date:'medium'}}
                  <md-icon md-svg-src="images/delete.svg" ng-click="deleteRemender(note)" style="width:21px;float:right;margin-top:-13px"></md-icon>
                </p>

                <md-card-actions>
                  <md-panel>
                    <p id="lastDiv" class="icon">
                      <!--  <md-button style="min-width:25px";> -->
                      <md-menu>
                        <md-button style="min-width:25px;padding:5px" ng-click="$mdMenu.open($event)" area-label="Remender">
                          <md-tooltip md-direction="bottom">Reminder</md-tooltip>
                          <img src="images/remender.svg">
                        </md-button>
                        <md-menu-content>

                          <md-menu-item>

                            <button class="md-raised md-primary md-button md-ink-ripple" type="button"="" ng-click="displayDialog(note)">Display Picker</button>

                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>

                      <md-button style="min-width:25px;padding:5px" aria-label="Share">
                        <md-tooltip md-direction="bottom">Share</md-tooltip>
                        <md-icon md-svg-src="images/share.svg" ng-click="" style="width:21px"></md-icon>
                      </md-button>



                      <color-picker class="colorIcon" value="cardColor" color="color" options="colors" on-color-changed="colorChanged(newColor, oldColor,note)"></color-picker>

                      <!-- <md-button style="min-width:25px;padding:5px" aria-label="Change color">
	        			<md-tooltip md-direction="bottom">Change color</md-tooltip>
	        				<md-icon md-svg-src="images/color.svg" ng-click="" style="width:21px"></md-icon>
	        			</md-button>
	        			 -->
                      <md-button style="min-width:25px;padding:5px" aria-label="Add image" ng-click="openImageUploader(note)">
                        <md-tooltip md-direction="bottom">Add image</md-tooltip>
                        <md-icon md-svg-src="images/uploadImg.svg" style="width:21px;"></md-icon>

                      </md-button>

                      <md-button style="min-width:25px;padding:5px" ng-click="archive(note,true)" aria-label="Archive">
                        <md-tooltip md-direction="bottom">Archive</md-tooltip>
                        <md-icon md-svg-src="images/archive.svg" aria-lable="archive note"></md-icon>
                      </md-button>
                      <!--  <img ng-src="images/menu.svg" style="width:21px"> -->
                      <md-menu>
                        <md-button style="min-width:25px;padding:5px" ng-click="$mdMenu.open($event)" aria-label="More">
                          <md-tooltip md-direction="bottom">More</md-tooltip>
                          <img ng-src="images/menu.svg" style="width:21px">
                        </md-button>
                        <md-menu-content>
                          <md-menu-item>
                            <md-button class="primary" ng-click="deleteNote(note)">Delete</md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="primary" ng-click="makeCopy(note)">Make Copy</md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button class="primary" ng-click="addLabelWindow()">Add Label</md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </p>
                  </md-panel>
                </md-card-actions>

              </md-card>
            </div>

          </div>


        </div>

        <h4>Others</h4><br>
        <div layout="row" layout-wrap flex>
          <!--=========================OTHER=============================================  -->
          <div ng-repeat="note in notes | filter:{pinned:false,trash:false,archive:false}" id="note-scope" flex="30">

            <md-card ng-style="{'background-color' : note.color}" class="card" id="float" ng-click="showConfirm($event)">
              <div>
                <md-button style="min-width:15px;float:right" arial-label="Pin note">
                  <md-tooltip md-direction="bottom">Pin note</md-tooltip>
                  <md-icon id="lastDiv" md-svg-src="images/unpin.svg" style="width:15px;float:right" ng-click="pinned(note,true)"></md-icon>
                </md-button>
              </div>
              <div ng-if="note.image"><img ng-src={{note.image}} style="width: 95%;padding-left: 5px;"></div>
              <md-card-title>
                <md-card-title-text class="update">

                  <div>
                    <div ng-click="updateEditedNote(note,$event)" ng-bind-html="note.title" ng-show="true" id="title" style="word-break: break-all;border:0px;outline:0px">{{note.title}}</div>
                  </div>
                  <br>
                  <div>
                    <div ng-bind-html="note.body" ng-show="true" id="body" style="word-break: break-all;border:0px;outline:0px">{{note.body}}</div>
                  </div>

                </md-card-title-text>
              </md-card-title>

              <p class="lastDive" ng-if="note.reminder" style="font-size:10px;padding:8px">Reminder : {{note.reminder | date:'medium'}}
                <md-icon md-svg-src="images/delete.svg" ng-click="deleteRemender(note)" style="width:21px;float:right;margin-top:-13px"></md-icon>
              </p>
              <md-card-actions>
                <p id="lastDiv" class="icon">
                  <!--  <md-button style="min-width:25px";> -->
                  <md-menu>
                    <md-button style="min-width:25px;padding:5px" ng-click="$mdMenu.open($event)" area-label="Remender">
                      <md-tooltip md-direction="bottom">Reminder</md-tooltip>
                      <img src="images/remender.svg">
                    </md-button>
                    <md-menu-content>
                      <md-menu-item>
                        <button class="md-raised md-primary md-button md-ink-ripple" type="button"="" ng-click="displayDialog(note)">Display Picker</button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                  <!--   </md-button> -->

                  <md-button style="min-width:25px;padding:5px" aria-label="Share">
                    <md-tooltip md-direction="bottom">Share</md-tooltip>
                    <md-icon md-svg-src="images/share.svg" ng-click="" style="width:21px"></md-icon>
                  </md-button>

                  <!-- <md-button style="min-width:25px;padding:5px" aria-label="Change color"> -->

                  <!-- 	        			<md-tooltip md-direction="bottom">Change color</md-tooltip>
 -->
                  <color-picker class="colorIcon" value="cardColor" color="color" options="colors" on-color-changed="colorChanged(newColor, oldColor,note)"></color-picker>


                  <!-- </md-button> -->

                  <md-button style="min-width:25px;padding:5px" aria-label="Add image" ng-click="openImageUploader(note)">
                    <md-tooltip md-direction="bottom">Add image</md-tooltip>
                    <md-icon md-svg-src="images/uploadImg.svg" style="width:21px;"></md-icon>
                  </md-button>

                  <md-button style="min-width:25px;padding:5px" ng-click="archive(note,true)" aria-label="Archive">
                    <md-tooltip md-direction="bottom">Archive</md-tooltip>
                    <md-icon md-svg-src="images/archive.svg" aria-lable="archive note"></md-icon>
                  </md-button>
                  <!--  <img ng-src="images/menu.svg" style="width:21px"> -->
                  <md-menu>
                    <md-button style="min-width:25px;padding:5px" ng-click="$mdMenu.open($event)" aria-label="More">
                      <md-tooltip md-direction="bottom">More</md-tooltip>
                      <img ng-src="images/menu.svg" style="width:21px">
                    </md-button>
                    <md-menu-content>
                      <md-menu-item>
                        <md-button class="primary" ng-click="deleteNote(note)">Delete</md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button class="primary" ng-click="makeCopy(note)">Make Copy</md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button class="primary" ng-click="addLabelWindow()">Add Label</md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </p>
              </md-card-actions>
            </md-card>
          </div>
        </div>
      </div>
    </div>
    <div layout="column" style="margin-right:100px"></div>
  </div>

</div>
