<md-card-actions>
  <md-panel>
    <p id="lastDiv" class="icon">
      <md-menu>
        <md-button style="min-width:25px;padding:5px" ng-click="$mdMenu.open($event)" area-label="Remender">
          <md-tooltip md-direction="bottom">Reminder</md-tooltip>
          <img src="images/remender.svg">
        </md-button>
        <md-menu-content>
          <md-menu-item>
            <button class="md-raised md-primary md-button md-ink-ripple" type="button"="" ng-click="displayDialog(note)">Display Picker</button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <md-button style="min-width:25px;padding:5px" aria-label="Share" ng-click="collaborators(note,$event)" ng-init="getOwner(note)">
        <md-tooltip md-direction="bottom">Share</md-tooltip>
        <md-icon md-svg-src="images/share.svg" style="width:21px"></md-icon>
      </md-button>

      <color-picker class="colorIcon" value="cardColor" color="color" options="colors" on-color-changed="colorChanged(newColor, oldColor,note)"></color-picker>

      <md-button style="min-width:25px;padding:5px" aria-label="Add image" ng-click="openImageUploader(note)">
        <md-tooltip md-direction="bottom">Add image</md-tooltip>
        <md-icon md-svg-src="images/uploadImg.svg" style="width:21px;"></md-icon>
      </md-button>

      <md-button ng-if="!note.archive" style="min-width:25px;padding:5px" ng-click="archive(note,true)" aria-label="Archive">
        <md-tooltip md-direction="bottom">Archive</md-tooltip>
        <md-icon md-svg-src="images/archive.svg" aria-lable="archive note"></md-icon>
      </md-button>


      <md-button ng-if="note.archive" style="min-width:25px" ng-click="archive(note,false)" area-label="Unachive">
        <md-tooltip md-direction="bottom">Unarchive</md-tooltip>
        <md-icon md-svg-src="images/unarchive.svg" style="width:18px;"></md-icon>
      </md-button>

      <md-menu>
        <md-button style="min-width:25px;padding:5px" ng-click="$mdMenu.open($event)" aria-label="More">
          <md-tooltip md-direction="bottom">More</md-tooltip>
          <img ng-src="images/menu.svg" style="width:21px">
        </md-button>
        <md-menu-content>
          <md-menu-item>

            <md-button ng-show="note.owner.email==user.email" class="primary" ng-click="deleteNote(note)">Delete</md-button>
            <md-button ng-show="note.owner.email!=user.email" class="primary" ng-click="removeMySelf(note,user)">RemoveMySelf</md-button>

          </md-menu-item>
          <md-menu-item>
            <md-button class="primary" ng-click="makeCopy(note)">Make Copy</md-button>
          </md-menu-item>

          <md-menu>
            <md-button class="primary" ng-click="$mdMenu.open($event)">Add Label</md-button>
            <md-menu-content>
              <md-menu-item  ng-repeat="label in labels">
                <md-checkbox ng-checked="checkboxCheck(note, label)" ng-click="labelToggle(note,label)">
                  {{label.name}}
                </md-checkbox>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-content>
      </md-menu>
    </p>
  </md-panel>
</md-card-actions>
