<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">

  <md-list>
    <md-list-item ng-show="user.role=='admin'">
      <md-button ng-click="adminDashboard()" aria-label="AdminPanel" flex layout="row" layout-align="start center">
        <img flex-offset="15" ng-src="images/dashboard.svg">
        <span flex-offset="15">Admin Dashboard</span>
      </md-button>
    </md-list-item>

    <!-- NOTES -->
    <md-list-item ui-sref="home">
      <i class="material-icons">note</i>
      <div class="sideText">
        Notes
      </div>
    </md-list-item>
    <md-divider></md-divider>

    <!-- ARCHIVE -->
    <md-list-item ui-sref="archive">
      <i class="material-icons">archive</i>
      <div class="sideText">
        Archives
      </div>
    </md-list-item>
    <md-divider></md-divider>

    <!-- REMAINDER -->
    <md-list-item ui-sref="reminder">
      <i class="material-icons">alarm_add</i>
      <div class="sideText">
        Reminders
      </div>
    </md-list-item>
    <md-divider></md-divider>

    <!-- LABELS -->
    <p style="font-weight:bold;margin-left:20px">Labels</p>
    <div ng-repeat="label in labels" style="margin-left:25%">
      <span ng-click="labelState(label)">{{label.name}}</span>
      <md-icon md-svg-src="images/clear.svg" ng-click="deleteLabel(label)"></md-icon>
    </div>

    <!-- CREATE NEW LABEL -->
    <md-list-item ng-click="createLabel($event,user)">
      <i class="material-icons">label</i>
      <div class="sideText">
        Create new label
      </div>
    </md-list-item>
    <md-divider></md-divider>
    </md-list-item>

    <!-- TRASH -->
    <md-list-item ui-sref="trash">
      <i class="material-icons">delete</i>
      <div class="sideText">
        Trash
      </div>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
</md-sidenav>
