<nav class="navbar navbar-inverse navbar-fixed-top" ng-style="archivenav" style="background-color: #1F618D" role="navigation" ng-init="initController()">
  <div class="container-fluid">
    <div style="float:right"><a href="#!/login" class="btn btn-primary">Logout</a></div>
    <div id="navbar" class="navbar-collapse collapse">
    </div>
  </div>
  </div>
</nav>


<div class="row" style="margin-top:60px;">
  <div class="col-xs-10 col-sm-10 col-md-12 col-lg-12">
    <!-- <div class="col-xs-8 col-sm-8 col-md-4 col-lg-3" ng-repeat="x in [1,2,3,4,5]" style="border:2px solid blue;height:210px;margin:10px;width:350px"></div> -->

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 fullCard " ng-repeat="user in users">
      <div class="card hovercard innerCard">
        <span class="glyphicon glyphicon-ok" style="float:right;">Active</span>
        <div class="card-background">
          <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
        </div>
        <div class="useravatar">
          <img alt="" ng-src="{{user.userImage}}" alt="{{user.userName.charAt(0)">
        </div>
        <div class="card-info"> <span class="card-title">{{user.userName}}</span>

        </div>
      </div>
      <div class="btn-pref btn-group btn-group-justified btn-group-lg innerCard" role="group" aria-label="...">
        <div class="btn-group" role="group" style="text-align:center;border-right:1px solid gray;height: 52px;">
          <div type="button" id="" class="stars">{{user.noteCount}}
            <!-- <span class="glyphicon glyphicon-star" aria-hidden="true"></span> -->
            <div class="hidden-xs">Total</div>
          </div>
        </div>
        <!-- <div class="btn-group" role="group">
          <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              <div class="hidden-xs">Url</div>
          </button>
      </div> -->
        <div class="btn-group" role="group" style="text-align:center;border-right:1px solid gray;height: 52px;">
          <div type="button" id="stars">{{user.textNoteCount}}
            <div class="hidden-xs">Text</div>
          </div>
        </div>
        <div class="btn-group" role="group" style="text-align:center;height: 52px;">
          <div type="button" id="stars">{{user.imageNoteCount}}
            <div class="hidden-xs">Image</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>



<!--
<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p> -->
